
@charset:utf8;

/*背景图片样式*/
#bgp{
  	margin-top: 8px;
  	width: 100%;
	height: 650px;


  	background-repeat:no-repeat;
	
	background-position:center top;
	
	background-attachment:scroll;
	
	background-image: url(../img/background.jpg);

  }

#navbg{
	height: 40px; 
	background: linear-gradient(to right top, hsl(175, 90%, 85%) 0%,hsl(55, 80%, 85%) 100%);
}



  body{
    background-image:url(../img/bgc.jpg); 
    background-repeat:repeat;
    padding-top: -40px;
  }



 /*修改密码按钮的样式*/
 #chgpassword{
	margin-top: 10%;
	margin-bottom: 5%;
 }

 #logout{
	margin-top: 10%;
	margin-bottom: 5%;
 }

#login{
	margin-top: 10%;
	margin-bottom: 5%;
 }


.msg_list-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.msg_list-enter, .msg_list-leave-to
/* .msg_list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.msg_list-leave-active {
  position: absolute;
}