<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.15/vue.js"></script>
	
	

	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	

	<title>欢迎光临本论坛</title>
</head>
<body>

	<!-- 用户登录的模态框 -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true" id="reload1">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">登陆</h4>
          </div>

          <form method="post" id="logform">
          	<div class="modal-body">
          		<p>用户名：<span id="lusername_msg">  </span> </p>
          		<input type="text" name="username" class="form-control" required="" id="lusername">
          		<br>
          		<p>密码: <span id="lpassword_msg">  </span> </p>
          		<input type="password" name="password" class="form-control" required="" id="lpassword">
          		<br>
          		<label>
			       <input type="checkbox" name="rememberMe" value="true"> 3天内自动登录
			    </label>
          	</div>

          	<div class="modal-footer">
          	<a href="adminlog.jsp">管理员登录</a><span id="tryagain" style="color: red"></span>	<span id="logResult"></span>   还没有用户名？ <button data-dismiss="modal" class="btn btn-default" type="button" id="tryreg" data-toggle="modal" data-target="#regModal">注册</button>
            <button  class="btn btn-primary" type="button" id="logbtn">登陆</button>
            <!-- <button class="btn btn-default" type="button">提交</button> -->
          </div>
          </form>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
	</div>


	<!-- 用户注册的模态框 -->
	<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true" id="reload2">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">注册</h4>
          </div>

          <form method="post" id="regform">
          	<div class="modal-body">
          		<p>用户名：<span id="checkResult">  </span></p>
          		<input type="text" name="username" class="form-control" required="" id="rusername">
          		<br>
          		<p>密码:  <span id="checkpwd"> </p>
          		<input type="password" name="password" class="form-control" required="" id="rpassword">
          		<br>
          		<p>再次输入密码: <span id="checkrpwd"> </p>
          		<input type="password" name="rpassword" class="form-control" required="" id="rrpassword">
          		<br>
          		<p>昵称：<span id="checkmg">  </span></p>
          		<input type="text" name="name" class="form-control" required="" id="rname">
          		<br>
          		<p>性别：</p>
      			<select class="form-control" name="sex" style="width: 30%; float: left;">
				   <option value="男">男</option>
				   <option value="女">女</option>
				</select>
				
				<label style="width: 50%; float: left; margin-left: 20%">
			       <input type="checkbox" name="rememberMe" value="true"> 3天内自动登录
			    </label>
			    <br>
          	</div>

          	<div class="modal-footer">
            	<button  class="btn btn-primary" type="button" id="reglogbtn">注册并登陆</button>
            	<!-- <button class="btn btn-default" type="button">提交</button> -->
          	</div>
          </form>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->

	</div>










	

	<!-- <div id="navbg"></div> -->

	
	<!-- 响应式布局容器 -->
	<div class="container" id="bgp" style="margin-top: 40px;">
	  
		<!-- 吸顶的导航栏 -->
		<nav class="navbar navbar-default navbar-fixed-top" style="min-height: 40px;background-color: hsla(0,0%,100%,.5); 
		                                                              border-color: hsla(0,0%,100%,.5);">
			
			<div class="row">
				<!-- 用户名和修改密码、退出登录的按钮 -->
			  <div class="col-md-6 col-md-offset-5 col-xs-6 col-xs-offset-4" >
		
				<div class="col-md-2 col-xs-2">
					<p style="margin-top: 10%;margin-bottom: 5%; text-align: center;" id="nav_name">用户名</p>
				</div>

				<div class="col-md-1 col-xs-2" id="logindiv">
					<button data-dismiss="modal" class="btn btn-info" type="button"  id="login" data-toggle="modal" data-target="#loginModal">点击登录</button>
				</div>
				

				<div class="col-md-1 col-xs-2">
					<button data-dismiss="modal" class="btn btn-info" type="button" id="chgpassword">修改密码</button>
				</div>

  				<div class="col-md-1 col-md-offset-1 col-xs-2 col-xs-offset-1">
  					<button data-dismiss="modal" class="btn btn-warning" type="submit" id="logout">退出登录</button>

  				</div>

			  </div>
			</div>
		</nav>


		
		<!-- 顶部的个人信息，包括头像、用户名、个性签名 -->
		<div class="row" id="userinfo" style="margin-top: 1%">
			<!-- 用户头像 -->
			<div class="col-md-1 col-md-offset-1 col-xs-2 col-xs-offset-1" id="user_picture">
				
				<img src=""  onerror="this.src='user_picture/default.jpg'" 
				style="width: 100%; height:100%; border-radius: 10px; margin:0; padding:0;">
			</div>

			<!-- 用户名 -->
			<div id="username" class="col-md-10 col-xs-8">
				<h3 style="font-family: 微软雅黑 ; margin-left: 5px;" id="main_name">用户名</h3>
			</div>
			
			<!-- 个性签名 -->
			<div id="decription" class="col-md-6 col-xs-6">
				<h4 style="font-family: 微软雅黑 ;  margin-left: 5px;" id="main-desc">
				    <div id="my-desc" style="width:fit-content"></div>
				    
					<input type="text" name="desc" id="desc-input"
					style="background-color: hsla(0,0%,100%,.1); border: 0; display: none;">
				</h4>
			</div>
		</div>


		<!-- 左边的导航栏、主页信息、右侧信息栏 -->
		<div class="row" id="main-info" style="margin-top: 4%">
		
			<!-- 左侧导航栏 -->
			<div id="left-nav" class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
				<ul class="nav navbar-default nav-stacked " style="width: 85%">
					<li><a href="newwelcome.jsp" class="list-group-item moduleItemLeft active">全部动态</a></li>
					<li><a href="my_newwelcome.jsp">我的动态</a></li>
					<li><a href="logscore">班委打分</a></li>				
					<li><a href="#">VB.Net</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">PHP</a></li>
				</ul>
			</div>	
			

			<!-- 主页的帖子信息 -->
			<div id="main-info" class="col-md-5 col-xs-5">
				
				<!-- 发布动态的组件 -->
				<div id="input-text">
					<form action="publishMessage" method="post">
						<textarea  class="form-control" style="min-height: 82px;" id="saysomething"  placeholder="说点什么吧"></textarea>
						<button type="button" class="btn" id="publishmessagebtn" style="width: 25%; margin-top: 1%;float: right;">发布</button>
					</form>
				</div>
				

				<!-- 分页导航条和分页信息 -->
				<div id="app-messages" style="margin-top: 5%">

					

					<nav aria-label="Page navigation" style="margin-top: 20px; height: 90px;">
					  <ul class="pagination" id="app-pagination">
					  	<!-- 展示当前页 -->
						<li><span>第  <span style="color: #0A0A0A ">
						{{pages.pageNum}}</span>  /  <span style="color: #F80606">{{pages.pages}}</span>  页</span>
						</li>
						<!-- 首页 -->
					  	<li  id="nav_first"><a href="#" @click.prevent="topage(pages.firstPage)">首页</a></li>

					  	<!-- 前一页 -->
					    <li  id="nav_go_pre" :class="{hidden:!pages.hasPreviousPage}">
					      <a href="#" aria-label="Previous" @click.prevent="topage(pages.pageNum-1)">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>

					    <!-- 翻页按钮渲染 -->
					    <li id="nav_1" v-for="p in pages.navigatepageNums" :class="{active:p==pages.pageNum}">
					    	<a href="#" @click.prevent="topage(p)">{{p}}</a>
					    </li>

					    <!-- 下一页 -->
					    <li  id="nav_go_next" :class="{hidden:!pages.hasNextPage}">
					      <a href="#" aria-label="Next" @click.prevent="topage(pages.pageNum+1)">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>

					    <!-- 尾页 -->
					    <li  id="nav_last"><a href="#" @click.prevent="topage(pages.lastPage)">末页</a></li> 
					  </ul>
					</nav>


				<!-- </div> -->

				

				<!-- 帖子信息 -->
					
					
					<transition-group name="t-msglist">
						<div class="panel panel-default" v-for="msg in pages.list" :key="msg.id" :id="'m_'+msg.id">
						  <div class="panel-heading">{{ msg.user.name }}   <font style="float: right; margin-right: 5px;">发表于：{{msg.createtime}}</font>
								<a href="javascript:void(0)" style="float: right;margin-right: 10px;"
								 v-if="msg.user.username==myinfo.username" @click.prevent="delmsg(msg.id)">
									删除
								</a>
						  </div>
						  <div class="panel-body">
						    {{ msg.content }}

							<br>
							<br>
							<br>
							
							<div v-if="!(msg.replies===undefined || msg.replies.length==0)">
								<div style="float: left; margin-top: 8px;" v-for='rp in msg.replies' :key="rp.id">
									<div class="input-group">
							            <span class="input-group-addon">{{rp.user.name}}</span>
							            <span type="text" class="form-control">{{rp.content}}</span>
							        </div>
								</div>		
							</div>
							<div v-else>
								<div style="text-align: center; margin-top: 2px;">
									<span type="text" class="text-muted" style="text-align: center;">--评论区--</span>
								</div>
								<div style="float: left; margin-top: 8px;" class="text-muted">暂无评论</div>
							</div>
							

						  </div>
						</div>
					</transition-group>

					
					<!-- 渲染底部的导航栏 -->
					<div>
						<nav aria-label="Page navigation">
						  <ul class="pagination" id="app-pagination2">
						  	<!-- 展示当前页 -->
							<li><span>第  <span style="color: #0A0A0A ">
							{{pages.pageNum}}</span>  /  <span style="color: #F80606">{{pages.pages}}</span>  页</span>
							</li>
							<!-- 首页 -->
						  	<li  id="nav_first"><a href="#" @click.prevent="topage(pages.firstPage)">首页</a></li>

						  	<!-- 前一页 -->
						    <li  id="nav_go_pre" :class="{hidden:!pages.hasPreviousPage}">
						      <a href="#" aria-label="Previous" @click.prevent="topage(pages.pageNum-1)">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>

						    <!-- 翻页按钮渲染 -->
						    <li id="nav_1" v-for="p in pages.navigatepageNums" :class="{active:p==pages.pageNum}">
						    	<a href="#" @click.prevent="topage(p)">{{p}}</a>
						    </li>

						    <!-- 下一页 -->
						    <li  id="nav_go_next" :class="{hidden:!pages.hasNextPage}">
						      <a href="#" aria-label="Next" @click.prevent="topage(pages.pageNum+1)">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>

						    <!-- 尾页 -->
						    <li  id="nav_last"><a href="#" @click.prevent="topage(pages.lastPage)">末页</a></li> 
						  </ul>
						</nav>
					</div>
				

					
				</div>




			</div>
	









		</div>












	</div>



	<script type="text/javascript" src="static/js/index-vue.js"></script>
</body>
</html>
